.myDiv{background-color: Tomato;
	 
}


img{
width:400px;
height:400px;
margin:5px;
transition: all 2s;
}
img:hover {
	width:200px;
height:200px;
   transform: scaleX(-1);
  transform: rotate(30deg);
}

	
